
@{
    ViewBag.Title = "About";
}

<body class="backroundimg header">
    <div class="whitebackround bordertext">
        <h1>The History of Calvary Baptist</h1>
    </div>
    <div class="column side whitebackround bordertext">
        <img src="~/Photos/IMG_1102.JPG" class="img-responsive borderimg" />
    </div>
    <div class="column middle whitebackround bordertext">
        <p>
            May 29th, 1947 a body of baptized believers from Birdford Baptist Church
            met in Glennville where Bro. C. G. Groover has been doing mission
            work. The meeting was for the purpose of organizing a Missionary Church.
            It was moved and carried that Bro. Gus Groover act as moderator and that
            Mrs. Flora Strickland act as clerk. Message for the Day was brought by
            Bro. Henry Hodges. Motion was moved and carried that all uniting with
            the church between now and Sunday Night would be declared as charter
            members of Calvary Baptist Temple.
        </p>
        <p>
            Articles of Faith were read, along with the Church Covenent with everyones's
            approval.
        </p>
        <p>
            Bro. E. W. Purcell was then elected as moderator, While the church voted
            to call a Pastor. The church body called as their pastor, Bro. C. G.
            Groover.
        </p>
        <p>
            Flora Stricland was elected as church clerk, and Bro J. D. Bargeron was
            elected as church treasurer for 1947.
        </p>
        <p>
            In the next meting it was moved and carried that the name if the church
            be called Calvary Baptist Church. Everyone was in favor and moved to
            adjourn this meeting.
        </p>
        <p>
            The location of the church was at Highway 301 and the corner of Banks
            Street (Formerly known as the Randall Davis house). On September 22,
            1948, the church membership had grown somewhat so the church voted to
            purchas an old army barracks building and place on a vacant lot there
            to hold services in. They had purchased a lot of land also where the old
            Tooten Depot site had once been, located between Caswell Street and
            Railroad Street. The church later decided to sell this lot and purchase
            a lot at 516 West Mann Street. The old barracks building was moved to
            this location where it remains today. On November 14, 1948 the first
            service was held at this location with Bro. T. B. swindell bringing the
            message. He was later called to Pastor the church. In 1951 a new
            sanctuary was built under the leadershipe of Bro. Swindell. Many hard
            days were put into construction, trees were cut from Bro. Ottis Knight's
            property, carried to the sawmill and cut into lumber for the rafters
            and other framing needed for inside the walls. The outside was made of blocks.
            Finally the building was complete. Bro. Swindell did a fine job leading
            the flock and the membership grew. In 1953 Bro. Swindell became very ill
            and histerm ended in his death.
        </p>
        <p>
            As the years passed many devoted men of God served as Pastor until they
            resigned to accept pastoral elsewhere. Bro J. D. Bargeron was called to
            pastor the church in may 1969. Souls continued to be saved. His term
            was also terminated by his death in 1973.
        </p>
        <p>
            Some of the world's finest people joined the church, some moved to other
            communities and united other fellowships, some have gone on to be with
            the Lord in Heaven, and some are still members there today. Our oldest members
            from ages 70 to 100 are still able to be in church almost every sunday
            The Lord is so good.
            Through the years things remained pretty much the same, except in 1976
            Calvary Baptist Academy was established. Then at the end of 1977
            school term the church voted to close the school.
        </p>
        <p>
            At the end of 1977 Bro. Moody Roberts resigned, we were searching and
            praying for the Lord to send us another Pastor, Who would be
            obedient to the work of the Lord. The Lord answered our prayers.
        </p>
        <p>
            Bro. Jerry Knight accepted the call to Pastor on January 1st, 1978.
            some of the biggest changes came about under the leadership of Pastor
            Knight. In the past few years, the church sanctuary was remodeled, a lot
            on the corner of Mann Street and Bay Street was purchased. The Fellow-
            ship Hall was built onto the sanctuary, another lot of land on Lewis Street
            was purchased, now used as our recreation park, the Barrow property
            behind the church fellowShip was purchased. Then in 1993 due to
            severe weather conditions, the church building suffered wall and ceiling
            damages, causing the church sanctuary to need remodeling for a second
            time.
        </p>
        <p>
            The Lord has blessed in all these endeavors, but the most important reason
            for Calvary's existence and history is the lighthose it is to our
            community. our number one goal has always been to offer a refuge to the
            sinner, and a place of worship for the saints. We trust that at any given
            time, the history of Calvary Baptist Church is refleted upon, the reader
            will always see the mission is to "Win the Lost", and to help the believer
            to grow spiritually. Each time we see the fruits of this happening, we
            know our efforts have not been in vain and the rewards belong to the Lord.
        </p>

    </div>
    <div class="column side whitebackround bordertext">
        <h2>In Honour and Memory of our Pastors</h2>
        <p>Gus Groover</p>
        <p>T.R.Swindell</p>
        <p>Felton Mosley</p>
        <p>Leadell Lowe</p>
        <p>Walter Vile</p>
        <p>John Roy O'Neil</p>
        <p>A.J. Howell</p>
        <p>Garnett Rushing</p>
        <p> Horace Smith</p>
        <p>J.D. Bargeron</p>
        <p>Eugene Mcduffie</p>
        <p>Moody Roberts</p>
        <p>Jerry D. Knight</p>
    </div>
</body>