
@{
    ViewBag.Title = "Discovery";
}

    <div class="bordertext whitebackround">
        <h2 class="text-center">Discovery</h2>
        
    </div>

    <div class="column side bordertext whitebackround">
        <h2 class="text-center">What we offer</h2>

        <p>A bible centered Youth curriculum</p>

        <p>Preplanned Weekly Bible Meetings</p>

        <p>Lesson Related Games and Activities</p>

        <p>Student rewards System</p>

    </div>

    <div class="whitebackround bordertext column middle">

        <h2 class="text-center">What is the Discovery Program</h2>

        <p>Discovery Bible Ministry is a mid week program for children ages four through 12. 
        There are four clubs or age groups. Four and five year-olds are Helpers,grades one and two
        are Watchmen,grades three and four are Warriors,and grades five and six are Champions.
        There are three main sessions during Discovery meetings.During assembly time a brief
        devotional lesson is presented along with other groups activities.
        Club time is when the club members work in their individual club
        manuals. During game time refreshments are served and children engage in activities 
        that support the lesson aim.</p>

        <p>Red and blue vest are worn as a uniform by the club members. Color bars and pins 
        are placed on the vest for achievements gained through completion of manuals,
        scripture memorization and other Christian service functions.</p>

        <p>Transform your Wednesday or Sunday evenings into exciting Bible centered meetings 
        where children eagerly attend and bring their friends.</p>
    </div>
    <div class="bordertext whitebackround column side">
        
        <h2>Our Classrooms</h2>

        <div id="myCarousel" class="carousel slide borderimg" data-ride="carousel">
            <!-- Indicators -->
            @*<ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
            </ol>*@

            <!-- Wrapper for slides -->
            <div class="carousel-inner">

                <div class="item active">
                    <img src="~/Photos/IMG_1089.JPG" />
                </div>

                <div class="item">
                    <img src="~/Photos/IMG_1090.JPG" />
                </div>

                <div class="item">
                    <img src="~/Photos/IMG_1092.JPG" />
                </div>

                <div class="item">
                    <img src="~/Photos/IMG_1093.JPG" />
                </div>

                <div class="item">
                    <img src="~/Photos/IMG_1095.JPG" />
                </div>

            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>

            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>
    </div>