
@{
    ViewBag.Title = "Fellowshiphall";
}



<body>
	<div>
		<div class="header whitebackround bordertext">
            <h2>Fellowshiphall</h2>
        </div>
        <div class="whitebackround">
           <img src="~/Photos/IMG_1100.JPG" class="borderimg img-responsive center" style="width: 100%;height:280px; object-fit:cover"/>
        </div>

        <div class="whitebackround bordertext center">
            <h2>Our Fellowship Hall</h2>
            <p>The churcch fellowship hall has many purposes and uses. It comes fully equipped with
            kitchen appliances food warmers and ice machines that is used to prepare Homestyle meals
            or party preperations,Fellowship meals,Vacation Bible School meals,Wedding and baby showers 
            are among the few events that are hosted in the fellowship hall.</p>
            <h2 class="text-center">The Baptism Area</h2>
            <img src="~/Photos/IMG_1101.JPG" class="img-responsive center" style="width:50%;" />
            <p>A heated baptistry is available for those that wish to follow the Lord's command in baptism
            and allows them to become a member of the local church.</p>
        </div>



	</div>
</body>
