
@{
    ViewBag.Title = "Index";
}
<body>
    <img src="~/Photos/IMG_1109.JPG" class="img-responsive header" alt="Responsive image" style="height:250px; width: 100%; display:block;object-fit:cover;object-position:center; ">

    <div class="row">
        <div class="container">
            <h1 class="bordertext text-center" style="background-color:white;">Calvary Baptist Church</h1>
        </div>
    </div>

    <div class="column side text-center whitebackround bordertext">
        <h2>Church Services</h2>
        <p>
            Sunday
            10:00 AM  -  Sunday School
            11:00 AM  -  Worship Service
            6:00PM  -  Evening Service
        </p>
        <p>
            Wednesday
            7:00 PM  -  Bible Study
        </p>
        <p>
            Men's Monday Morning Bible Study
            Every Monday 8 AM
        </p>
        <p>
            Women's Prayer Group
            Every Wednesday 10:00 AM
        </p>
        <p>
            ** Nursery provided for all Sunday and Wednesday services.
        </p>
    </div>
    <div class="column middle  text-center whitebackround bordertext">
        <h2>Welcome to Calvary Baptist</h2>
        <img src="~/Photos/IMG_1086.JPG" class="img-responsive"/>
        <p style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">Psalm 9:10    And they that know thy name will put their trust in thee:
        for thou, Lord, hast not forsaken them that seek thee.</p>
    </div>
    <div class="column side text-center whitebackround bordertext">
        <img src="~/Photos/IMG_1091.JPG" class="img-responsive borderimg" />
        <h2>Missionary Work</h2>
        <p>We are happy to support our Missionary Families around the world.</p>
        <a href="/Home/Missionary">See the Families</a>

    </div>

</body>