
@{
    ViewBag.Title = "Missionary";
}
<div>

<h2 class="bordertext whitebackround header">Missionary</h2>

</div>
<div class="col-md-10 col-md-push-1 whitebackround text-center bordertext">
    <img src="~/Photos/IMG_1091.JPG" class="borderimg img-responsive center" style="width: 70%;height:300" />
    <h2 class="whitebackround">Our Missionaries</h2>
    <p>
        Calvary Baptist Church supports a number of missionaries - many of whom serve in foreign countries.  Below is a list of those that we support financially each month.
    </p>
    <p>
        The Good Samaritan Fund
    </p>
    <p>
        Driven Ministries ~ Jason Funderburke ~ <a href="http://www.drivenqt.com/">http://www.drivenqt.com/</a>
    </p>
    <p>
        David Cato ~ Missionary to Brazil ~ World Baptist Fellowship ~ <a href="http://catofamily.weebly.com/">http://catofamily.weebly.com/</a>
    </p>
    <p>
        Ernie Hopper ~ Westwood Missionary Baptist ~ <a href="https://westwoodmbc.org/">https://westwoodmbc.org/</a>
    </p>
    <p>
        The Sammy Glass Family ~ <a href="http://www.sammyglassfamily.com/">http://www.sammyglassfamily.com/</a>
    </p>
    <p>
        Bible & Literature Missionary Foundation - Shelbyville, TN ~ <a href="http://www.biblelit.com/">http://www.biblelit.com/</a>
    </p>
    <p>
        Joyce Todd - Baptist International Missions ~ <a href="http://www.bimi.org/home.php">http://www.bimi.org/home.php</a>
    </p>
    <p>
        Roger Riley - Missionary to the Philippines ~ Central Missionary Clearinghouse
    </p>
    <p>
        Richard Peacock - Rock of Ages Prison Ministry ~ Georgia ~ <a href="http://www.roapm.com/">http://www.roapm.com/</a>
    </p>
    <p>
        Feed The Children ~ <a href="http://www.feedthechildren.org/">http://www.feedthechildren.org/</a>
    </p>
    <p>
        Paul Anderson Youth Home ~ Vidalia, GA ~ <a href="http://www.payh.org/">http://www.payh.org/</a>
    </p>
    <p>
        Radio Bible Hour ~ <a href="http://www.radiobiblehour.org/">http://www.radiobiblehour.org/</a>
    </p>
    <p>
        WRBX 104.1 ~ Reidsville ~ <a href="http://www.wrbx.org/">http://www.wrbx.org/</a>
    </p>
    <p>
        Gene Purvis ~ Camino Global ~ <a href="https://www.caminoglobal.org/about/purvis">https://www.caminoglobal.org/about/purvis</a>
    </p>
    <p>
        Roger Napper - Rock of Ages Prison Ministry ~  Northeast Region ~ <a href="http://www.roapm.com/">http://www.roapm.com/</a>
    </p>
</div>
