
@{
    ViewBag.Title = "Sanctuary";
}

<img src="~/Photos/IMG_1087.JPG" class="img-responsive borderimg" alt="Responsive image" style="height:250px; width: 100%; display:block;object-fit:cover;object-position:center; ">

<div class="row">
    <div class="container">
        <h1 class="bordertext text-center" style="background-color:white;">This is our Sanctuary</h1>
    </div>
</div>

<div>
    <p class="whitebackround bordertext">
        
    </p>
</div>