
@{
    ViewBag.Title = "Sanctuary";
}

<img src="~/Photos/IMG_1087.JPG" class="img-responsive borderimg" alt="Responsive image" style="height:250px; width: 100%; display:block;object-fit:cover;object-position:center; ">

<div class="row">
    <div class="container">
        <h1 class="bordertext text-center" style="background-color:white;">This is our Sanctuary</h1>
    </div>
</div>

<div>
    <p class="whitebackround bordertext">
        Our church's newly remodeled sanctuary is a spacious,
        confortable,and inviting place that can seat aproximately 225 people. 
        The services provide the attendee with an opportunity to worship by
        participating in the song service, listining to the choir sing and 
        lastly hearing a sermon presented by the pastor or associate Pastor. 
        it is awlays the desire of the church to presesnt a warm and friendly 
        atmosphere to all those that attend.
    </p>
</div>